<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>With a background in Electrical Engineering, and experience ranging robotics to
           data pipelines to embedded firmware, my favorite work is technical problem-solving. 
           In my free time I hack on hardware and software alike, transforming dumb standing desks
           into sentient-beings, and generating absurd news articles with AI.</p>
      </div>
      <div class="col-lg-4">
        <p>portrait here :)</p>
      </div>
      <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Stuff
        </a>
      </div> -->
    </div>
  </div>
</section>
